<p><ol> <li>Beat the eggs, flolur, butter and sugar until creamy</li>
  <li>Pour into round backing pan</li>
  <li>Slowly add and swirl any one or combination of the following ingredients:</li>
  <ul>
    <li>chocolate sauce</li>
    <li>cinnamon crunchies</li>
    <li>1 tsp nutmeg</li>
  </ul>
  <li>Place in oven and bake for 40 minutes</li>
  </ol>
</p>
